#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.match {
  background-color: var(--color-wordle-match);
  animation: match-animation 0.7s ease-in-out;
}

.no-match {
  background-color: var(--color-wordle-no-match);
  animation: match-animation 0.7s ease-in-out;
}

.partial-match {
  background-color: var(--color-wordle-partial-match);
  animation: match-animation 0.7s ease-in-out;
}


@keyframes match-animation {
  from {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}