@import "tailwindcss";

@theme {
  --color-wordle-match: #B7EAB3;
  --color-wordle-partial-match: #EDE8B4;
  --color-wordle-no-match: #E1DFD7;
  /* --color-wordle-no-match: #5F6061; */
  --color-wordle-accent: #EB85AB;
  --color-wordle-secondary-accent: #EEC8B4;

	--delay-0: 0s;
  --delay-100: 0.1s;
  --delay-200: 0.2s;
  --delay-300: 0.3s;
  --delay-400: 0.4s;
  --delay-500: 0.5s;
  --delay-600: 0.6s;
  --delay-700: 0.7s;

  --animate-match-animation: match-animation 0.7s ease-in-out;
  --animate-scale-105: scale-pop 0.3s ease-out;

  @keyframes match-animation {
    from {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateX(90deg);
    }
    to {
      transform: rotateX(0deg);
    }
  }

  @keyframes scale-pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

