@import "tailwindcss";

@theme {
  --color-wordle-match: #B7EAB3;
  --color-wordle-partial-match: #EDE8B4;
  --color-wordle-no-match: #E1DFD7;
  /* --color-wordle-no-match: #5F6061; */
  --color-wordle-accent: #EB85AB;
  --color-wordle-secondary-accent: #EEC8B4;
}

@layer base {

}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
